<div style="display: flex;flex-direction: row;justify-content: space-between; align-items: center;margin-bottom: 20px;">
  <div style="display: flex;flex-direction: row;justify-content: flex-start;align-items: flex-start;">
    <h1>Profesores</h1>
  </div>
  <button mat-flat-button color="primary" (click)="createEditTeacher()">Crear</button>
</div>

<mat-table [dataSource]="dataSource">
  <!-- Definir las columnas aquí -->
  <ng-container matColumnDef="nombre">
    <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
    <mat-cell *matCellDef="let teacher">{{ teacher.nombre }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="cursos">
    <mat-header-cell *matHeaderCellDef>Cursos</mat-header-cell>
    <mat-cell *matCellDef="let teacher">
      <ng-container *ngIf="teacher.cursos">
        {{ formatearCursos(teacher) }}
      </ng-container>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="acciones">
    <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
    <mat-cell *matCellDef="let teacher">
      <button mat-icon-button (click)="createEditTeacher(teacher)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="createEditTeacher(teacher.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>